* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    position: relative;
    width: 99%;
}

.bigpick {
    position: static;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    clip-path: circle(50%);
    width: 30rem;
    margin-left: 50%;
}

body {
    background-image: url(../Images/Repeat.jpg);
    background-position: relative;
    background-size: 120rem;
    width: 100%;
}

.bodies {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 2rem;
}

#contactinfop {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
#Phone {
    position: relative;
    display: block;
    width: 1rem;
}

.Organized1 {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 50rem;
}

header {
    color: white;
    font-size: 3rem;
    text-align: center;
}

.Phone {
    position: relative;
    width: 25rem;
}

h1 {
    width: 25%;
}
/*This section focuses on the navigation in the header*/
header nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}
/*This section focuses on the listed item in the header*/
.header nav ul {
    position: relative;
    display: inline;
    list-style-type: none;
}


.header nav ul li {
    position: relative;
    display: inline-block;
    border: solid .25rem white;
    padding: .25rem;
    margin: .25rem;
    background-color: rgb(43, 111, 167);
    position: relative;
    z-index: 1;
    width: fit-content;

}
/*This section focuses on what happens when the lsietd items are functional*/
.header nav ul li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color:grey;
    z-index: -1;
    transform: scalex(0);
} 

.header nav ul li:hover::after {
    transform: scalex(1);
}
/*This is the earth in the center of the backround*/

/*This is the picture of me*/
.DomDom {
    position: relative;
    display: block;
    width: 20rem;
    padding: 0.5rem;
    border-radius: 5rem;
  }

section section p {
    margin-left: 1rem;
    margin-top: 3rem;
    font-size: 1.25rem;
}

a {
    color: white;
    text-decoration: none;
    width: fit-content;
}



.header nav ul li {
    display: inline-block;
    margin-left: 3rem;
}


.My_Work {
    position: relative;
    display: flex;
    flex-direction: row;
}

/*I combined classes with the same attributes*/
.Bio, .My_Work, .Contact_Information {
    position: relative;
    display: flex;
    margin: 2rem;
    padding: 0.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid 0.25rem white;
    background-color: rgb(0, 30, 129);
    color: #ffffff;
}



/*The body is being focused on below*/
h2 {
    position: relative;
    width: 9rem;
    font-size: xx-large;
    margin: 1rem;
    border-right: solid white 0.25rem;
    padding: 1rem;
}


#Projects {
    position: relative;
    display: flex;
    flex-direction: column;
}

.project-card {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 30rem;
    margin: 1rem;
}

#Project1 {
    position: relative;
    display: flex;
    width: 90%;
}

h3 {
    font-size: 1.75rem;
    position: inherit;
    flex-direction: row;
}

.Cards1 {
    position: relative;
    display: flex;
    flex-direction: row;
}

#link {
    color: chartreuse;
}

body section section ul {
    margin-left: 2rem;
}

p {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
}



.Bio {
    position: relative;
    display: flex;
    flex-direction: row;
}

.My_Work {
    position: relative;
    display: flex;
    flex-direction: row;
}

.Contact_Information {
    position: relative;
    display: flex;
    flex-direction: row;
}

/*The css code below helps adjust the screen to fit under and over a certain size*/

@media screen and (max-width: 768px) {
.Cards1 {
    width: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}    
}
@media screen and (max-width: 768px) {
.Organized1 {
    width: 25rem;
    flex-direction: column;
}        
}

@media screen and (max-width: 768px) {
#Project1 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
}    
}

@media screen and (max-width: 768px) {
.bigpick {
    position: static;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    clip-path: circle(50%);
    width: 15rem;
    margin-left: 50%;
}   
}

@media screen and (max-width: 768px) {
h2    {
    position: relative;
    width: 9rem;
    font-size: 2rem;
    margin: 1rem;
    border-bottom: solid white 0.25rem;
    border-right: none;
    padding: 1rem;
}
}

@media screen and (max-width: 768px) {
.bodies {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}    
}

@media screen and (max-width: 768px) {
.Bio, .My_Work, .Contact_Information {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 0.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: solid 0.25rem white;
    background-color: rgb(0, 30, 129);
    color: #ffffff;      
}    
}